body {
  background-color: #6363cf;
}
.main-container {
  transition: 500ms all ease-out;
  position: fixed;
  /* background-color: white; */
  background-image: linear-gradient(23deg, rgba(202, 202, 202, 0.068) 0%, rgba(202, 202, 202, 0.048) 13%,transparent 13%, transparent 80%,rgba(11, 11, 11, 0.048) 80%, rgba(11, 11, 11, 0.116) 100%),
                    linear-gradient(42deg, rgba(98, 98, 98,0.02) 0%, rgba(98, 98, 98,0.02) 36%,transparent 36%, transparent 77%,rgba(252, 252, 252,0.02) 77%, rgba(252, 252, 252,0.02) 100%),
                    linear-gradient(286deg, rgba(173, 173, 173,0.02) 0%, rgba(173, 173, 173,0.02) 2%,transparent 2%, transparent 12%,rgba(59, 59, 59,0.02) 12%, rgba(59, 59, 59,0.02) 100%),
                    linear-gradient(77deg, rgba(87, 87, 87,0.02) 0%, rgba(87, 87, 87,0.02) 18%,transparent 18%, transparent 55%,rgba(247, 247, 247,0.02) 55%, rgba(247, 247, 247,0.02) 100%),
                    linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}
.main-container.scale-down {
  transform: perspective(50px) translateZ(-5px);
}
@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');
* {
  font-family: 'Arimo', sans-serif;
}